.hg/
.hgignore
.hgtags

.gradle
local.properties
build
captures
.externalNativeBuild
.idea
library/.cxx
library/build
library/.externalNativeBuild
library/makecmakelist.bat
testapp/build
testapp/.externalNativeBuild
*.iml

